@use 'colors';

//Fonty
$default-font: "Open Sans", sans-serif;
$headline-font: "Montserrat", sans-serif;

//Úvodní stylování
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 30px 20px 40px 20px;
  font-family: $default-font;
  font-size: 16px;
}
