@use 'colors';

@use 'base';

//logo nápis
.header__logo {
  height: 30px;
  width: 235px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: 768px) {
    margin: 36px 0 58px 20px;
  }
}

//menu
.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item {
  text-decoration: none;
  font-family: base.$headline-font;
  display: inline-block;
}

.menu__link {
  text-decoration: none;
  color: colors.$cervena;
  font-size: 18px;
  padding: 20px;
  display: inline-block;
}

.menu__link:hover,
.menu__link:focus {
  color: white;
  background-color: colors.$cervena;
}

.menu {
  margin: 30px 0 30px 0;

  @media screen and (min-width: 768px) {
    margin: 20px 0 40px 0;
  }
}

//Specifika pro tablet a PC

.header {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
